%section#feature
  .content
    %section.latest-episode
      %header
        %h3 Latest Episode
      %h2
        %a{:href => "/"} Episode 0.4.6 - YUI 3, Node.js, JSLint, and Douglas Crockford code reviews
      %p Adam and Wynn caught up with Adam Moore and Satyen Desai from the YUI team to talk about YUI 3, Node.js, and working with Douglas Crockford.
      %a.goto-episode{:href => "/"} Go to episode
    %section.call-to-actions
      %ul
        %li
          %a{:href => "http://itunes.apple.com/podcast/founderstalk"}
            %img{:src => "/thechangelog/images/subscribe-itunes.png"}/
        %li
          %a{:href => "http://feeds.feedburner.com/founderstalk"}
            %img{:src => "/thechangelog/images/subscribe-rss.png"}/
        %li
          %a{:href => "http://twitter.com/founderstalk"}
            %img{:src => "/thechangelog/images/follow-twitter.png"}/
        %li
          %a{:href => "http://facebook.com/founderstalk"}
            %img{:src => "/thechangelog/images/like-facebook.png"}/
        %li.elsewhere
          We're also on
          %a{:href => "http://github.com/explore"} github.com / explore &rarr;