%footer#footer
  .popular
    %section
      %header
        %h3 Popular Episodes
      %ul
        %li
          %a{:href => "#"} 0.3.4 - Mongrel2, guitar, and more with Zed Shaw
        %li
          %a{:href => "#"} 0.4.0 - Riak revisited with Andy Gross, Mark Phillips, and John Nunemaker
        %li
          %a{:href => "#"} 0.3.9 - Scripty2, Zepto.js, Vapor.js, and more with Thomas Fuchs
        %li
          %a{:href => "#"} 0.3.3 - Node Knockout
        %li
          %a{:href => "#"} 0.3.7 - PubSubHubBub with Superfeedr's Julien Genestoux
    %section
      %header
        %h3 Popular Posts
      %ul
        %li
          %a{:href => "#"} dom-monster: Cross-browser bookmarklet to analyze your DOM, improve performance
        %li
          %a{:href => "#"} Using Haskell to make a Mac App Store App
        %li
          %a{:href => "#"} OpenGovernment: Empower individuals and organizations to track government at every level
        %li
          %a{:href => "#"} CompassApp: Compile Sass stylesheets easily without resorting to the command line
        %li
          %a{:href => "#"} Canabalt: Engine behind popular iOS game now open source
    %section
      %header
        %h3 Popular GitHub Jobs
      %ul
        %li
          %a{:href => "#"} Freelance Software Engineer (PHP/Lithium/MongoDB)
        %li
          %a{:href => "#"} Front End Developer
        %li
          %a{:href => "#"} PHP Developer (Drupal) for Workday Community
        %li
          %a{:href => "#"} Barnes & Noble.com: Senior Software Engineer/Architect (Java/Agile/TDD/eCommerce)
        %li
          %a{:href => "#"} "Rock Stars" and "Ninjas" Need Not Apply
  .colophon
    .grid-11.grid-suffix-1
      %section
        %header
          %h3 About The Changelog
        :markdown
          The Changelog is a blog and weekly podcast hosted by [Adam Stacoviak](http://adamstacoviak.com/) and [Wynn Netherland](http://wynnnetherland.com/) that profiles what's fresh and new in the world of Open Source.
          
          Founded in November 2009, The Changelog set out to shine a spotlight on the people and projects of Open Source. Since then, with the help of our contributing team, our loyal community of readers and listeners and the support of [GitHub](http://github.com/), we've become one of the most popular blogs and podcasts to cover the fast paced and ever changing world of Open Source.
          
          Open Source moves fast. Keep up.
    .sitemap
      .grid-3
        %section
          %header
            %h3 Connect
          %ul
            %li
              %a{:href => "#"} Episodes
            %li
              %a{:href => "#"} Archives
            %li
              %a{:href => "#"} Contact
            %li
              %a{:href => "#"} Jobs
            %li
              %a{:href => "#"} Newsletter
            %li
              %a{:href => "#"} Advertise
            %li
              %a{:href => "#"} Donate
      .grid-3
        %section
          %header
            %h3 Subscribe
          %ul
            %li
              %a{:href => "http://itunes.apple.com/podcast/the-changelog/id341623264"} iTunes
              (audio)
            %li
              %a{:href => "http://feeds.feedburner.com/thechangelog"} RSS
              (all content)
            %li
              %a{:href => "http://feeds.feedburner.com/thechangelog_audio"} RSS
              (audio only)
        %section
          %header
            %h3 Follow Us
          %ul
            %li
              %a{:href => "http://twitter.com/changelogshow"} Twitter
              (main)
            %li
              %a{:href => "http://twitter.com/changelogjobs"} Twitter
              (jobs)
            %li
              %a{:href => "http://facebook.com/thechangelog"} Facebook
            %li
              %a{:href => "http://github.com/thechangelog"} GitHub
            %li
              %a{:href => "https://www.kickstarter.com/profile/thechangelog"} Kickstarter
      .grid-3
        %section
          %header
            %h3 Hosts
          %ul
            %li
              %a{:href => "http://adamstacoviak.com/"} Adam Stacoviak
            %li
              %a{:href => "http://wynnnetherland.com/"} Wynn Netherland
        %section
          %header
            %h3 Contributors
          %ul
            %li
              %a{:href => "http://steveklabnik.com/"} Steve Klabnik
            %li
              %a{:href => "http://kennethreitz.com/"} Kenneth Reitz
      .grid-3
        %section
          %header
            %h3 Sponsors
          %ul
            %li
              %a{:href => "http://github.com/"} GitHub
            %li
              %a{:href => "http://jobs.github.com/?a=changelog"} GitHub Jobs
        %section
          %header
            %h3 We Use
          %ul
            %li
              %a{:href => "http://effectif.com/nesta"} Nesta
            %li
              %a{:href => "http://heroku.com/"} Heroku
            %li
              %a{:href => "http://rizn.me/hootsuite"} HootSuite
            %li
              %a{:href => "http://shortswitch.com/"} ShortSwitch
            %li
              %a{:href => "http://getcloudapp.com/"} CloudApp
  %footer.site
    %p &copy; 2010 RIZN Media, LLC
    %a.credit{:href => "http://riznmedia.com/"} a Rizn Media production