%header#header
  %section.content
    %h1
      %a{:href => "/"}= "#{@heading} - #{@subtitle}"
    %nav.main
      %ul
        %li
          %a{:href => "/episodes", :class => "active"} Home
        %li
          %a{:href => "/episodes"} Episodes
        %li
          %a{:href => "/archives"} Archives
        %li
          %a{:href => "/jobs"} Jobs
        %li
          %a{:href => "/advertise"} Advertise
        %li
          %a{:href => "/advertise"} Contact
        %li
          %a{:href => "/advertise"} RSS
        %li
          %a{:href => "/advertise"} Twitter