#podcasts
  .grid-container
    .grid-8
      %section.podcast
        %header.grid-8
          %h3
            %a{:href => "http://5by5.tv/founderstalk"} Founders Talk
        .grid-2
          %a{:href => "http://5by5.tv/founderstalk"}
            %img{:src => "http://a1.twimg.com/profile_images/1150957619/founderstalk-album-art.png"}
        .grid-6
          %p An interview podcast hosted by Adam Stacoviak that profiles founders building businesses online and offline.
    .grid-8
      %section.podcast
        %header.grid-8
          %h3
            %a{:href => "http://thechangelog.com/"} The Changelog
        .grid-2
          %a{:href => "http://thechangelog.com/"}
            %img{:src => "http://a1.twimg.com/profile_images/544002721/Album-Art_bigger.png"}
        .grid-6
          %p A weekly podcast and blog that covers what's fresh and new in the world of Open Source.
    .grid-8
      %section.podcast
        %header.grid-8
          %h3
            %a{:href => "http://web20show.com/"} Web 2.0 Show (retired)
        .grid-2
          %a{:href => "http://web20show.com/"}
            %img{:src => "http://a2.twimg.com/profile_images/679880761/w2s.png"}
        .grid-6
          %p A retired podcast that profiled the Entrepreneurs, Businesses & Tech of an era known as "Web 2.0".