%section#search
  .content
    %form{:action => "/search", :method => "get"}
      %p Looking for something?
      %input#q{:name => "q", :placeholder => "Search the archives", :title => "Search the archives", :type => "text"}/
      %input#search-button.button{:type => "submit", :value => "Search"}