%aside#sidebar
  #influads_block.influads_block
    %a.influads_link_img.link.external{:href => "http://engine.influads.com/click/4c9a07f04d3bc", :target => "_blank"}
      %img.influads_img{:src => "http://static1.influads.com/flavours_4_154x70.jpg"}/
    .influads_text
      %a.influads_text_a.link.external{:href => "http://engine.influads.com/click/4c9a07f04d3bc", :target => "_blank"} Make yours with Flavors.me
    .influads_powered_div
      %a.influads_powered_link.link.external{:href => "http://influads.com", :target => "_blank"} Powered by influAds
  #recently
    %ul
      - 2.times do
        %li
          %a{:href => "#"} jsondns: DNS JSON API
        %li
          %a{:href => "#"} domain-profiler: Get domain profile reports on the "Decisions that cost money"
        %li
          %a{:href => "#"} webdis: HTTP + JSON API for Redis
        %li
          %a{:href => "#"} vain: Check GitHub user stats from the command line
        %li
          %a{:href => "#"} git-pulls: Manage GitHub pull requests from the command line
        %li
          %a{:href => "#"} A pair of gems to create and expand goo.gl URLs
  %a{:href => "http://lg.gd/itms"}
    %img{:src => "thechangelog/images/qrcode-tcl-itms-s.png", :class => "qr-code"}
  -# haml :categories, :layout => false
  -# haml :feed, :layout => false
  -# haml :social, :layout => false
