%section#content
  - unless pages.empty?
    %section#posts
      - pages.each do |page|

        - if page.date
          %section.date
            = format_date(page.date)

        %article.post.text
      
          / Post content
          %section.content
            %header
              - haml_tag heading do
                %a{ :href => page.abspath }= page.heading

            - if page.summary.nil? || page.summary.empty?
              ~ page.body
            - else
              ~ page.summary
              %p.read_more
                %a{ :href => page.abspath }= page.read_more
        
          / Post sidebar
          %section.sidebar
            .episode
              %span.label Episode
              %span.data 0.4.5
        
          / Post footer
          %footer.footer
            %ul.tags
              %li
                %a{:href => "/"} #github
              %li
                %a{:href => "/"} #ruby
              %li
                %a{:href => "/"} #rails